div {
    border: 1px solid black;
    margin-bottom: 20px;
}

.date {
    font-size: .8em;
    text-align: right;
    margin-right: 5px;
}

.content {
    margin: 10px;
}

body {
    padding: 20px;
    border: 1px solid black;
    background: white;
}
